[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
flask-script = "*"
flask-migrate = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.7"
