<form action="/" method="POST">
    <table class="table" border="1">
       <thead>
          <tr>
              <th>Items</th>
              <th>Quantity</th>
              <th>Unit</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td><input type="text" class="form-control" name="name" id="newStuff" placeholder="Enter new item"></td>
              <td><input type="text" class="form-control" name="qty" id="qty" placeholder="Enter quantity"></td>
              <td><input type="text" class="form-control" name="unit" id="unit" placeholder="Enter unit"></td>
              <td><button type="submit" class="btn btn-primary btn-block">Add</button></td>
          </tr>
      </tbody>
  </table>
  </form>